<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
		<appSettings>
			<add key="default_brightness" value="100" />
			<add key="thread_delay" value="15000" />
			<add key="show_charging_status" value="true" />
			<add key="keep_current_brightness" value="true" />
			<add key="allowed_fullscreen_offset" value="10" />
			<add key="movie_mode_processes" value="vlc"/>
			<add key="battery_charging_color" value="Purple"/>
		</appSettings>
</configuration>